<h3>Sign In</h3>
<form>
  <div class="login-form">
    <label for="username-login">Username</label>
    <input type="text" class="form-control" id="username-login" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="password-login">Password</label>
    <input type="password" class="form-control" id="password-login" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary login-button">Log In</button>
</form>
<div>
    <p>Don't have an account? <a href="/signup">Click Here</a> to create an account.</p>
</div>

<script src="../js/login.js"></script>